<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1870" targetFramework="net46" />
  <package id="OxyPlot.Wpf" version="1.0.0-unstable1870" targetFramework="net46" />
</packages>